* {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: rgb(201, 201, 201);
}

canvas {
  position: absolute;
  inset: 0;
}

#gameBoard0 {
  background-color: rgb(80, 80, 80);
}

#HUD {
  position: absolute;
  inset: 0;
  z-index: 1000;
  #coords {
    padding: 22px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
  }
}

#gameBoard0 {
  z-index: 10;
}
#gameBoard1 {
  z-index: 20;
}
#gameBoard2 {
  z-index: 30;
}
#gameBoard3 {
  z-index: 40;
}
#gameBoard4 {
  z-index: 50;
}
#gameBoard5 {
  z-index: 60;
}
#gameBoard6 {
  z-index: 70;
}
#gameBoard7 {
  z-index: 80;
}
#gameBoard8 {
  z-index: 90;
}
#gameBoard9 {
  z-index: 100;
}

.startingScreen,
.midGameScreen {
  z-index: 2000;

  position: absolute;
  inset: 0;
}

.startingScreen {
  background-color: rgb(173, 173, 173);

  .startingScreen--center {
    background-color: rgb(231, 228, 228);
    box-shadow: 0px 0px 7px 5px rgb(124, 124, 124) inset;
  }
}

.midGameScreen {
  display: none;

  color: wheat;

  background-color: rgba(0, 0, 0, 0.493);

  .midGameScreen--center {
    background-color: rgb(31, 31, 31);

    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.397);
  }
}

.startingScreen--center,
.midGameScreen--center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 30px;
  width: 50%;
}
